.search-button-container {
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.search-button {
  width: 200px;
}

button:disabled {
  background-color: #999;
}

button:disabled:hover {
  background-color: #999 !important;
  color: black;
  cursor: default;
}

.search-button:disabled:hover {
  width: 200px;
  background-color: #ccc;
  cursor: default;
  color: black;
}


.search-form {
  max-width: 1000px;
  text-align: center;
  margin: auto;
}

form {
  width: 100%;
}

.search-page-container {
  gap: 10px;
  width: 100%;
}

.filter-middle {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}



.filter-left {
  width: 45%;
  display: flex;
  flex-direction: row;
}

.filter-right {
  width: 55%;
}

.filter-left .filter-container .filter-dropdown {
  width: 100% !important;
}

.filter-left .filter-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  height: 100%;

}


.preview-link {
  color: black;
  text-decoration: none;
}

.preview-link:hover {
  text-decoration: underline;
}

.preview-highlight {
  color: red;
  margin: 0px 5px;
}


.preview-pre {
  text-align: left;
  flex: 1;
}


.preview-post {
  text-align: right;
  flex: 1;
}

.result-preview {
  justify-content: center;
  align-items: center;
  text-align: right;
  direction: rtl;
}

.results-table {
  width: 100%;
}

.results-table th,
.results-table td {
  padding: 8px;
  text-align: left;
}

.results-table th:first-child,
.results-table td:first-child {
  width: 5%;
}

.results-table th:nth-child(2),
.results-table td:nth-child(2) {
  width: 70%;
}

.results-table th:last-child,
.results-table td:last-child {
  width: 25%;
  text-align: right;
}

.results-table tr:hover {
  background-color: aliceblue
}

table tr:last-child td {
  border-bottom: none;
}

.results-table td {
  text-align: center;
}

.text-filter-container {
  width: 100%;
  margin-top: 10px;
}

.filter-right .text-filter-list {
  height:500px;
}

.text-filter-list {
  height: 235px;
  overflow-y: auto;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
  text-align: right;
  direction: rtl;
  box-sizing: border-box;
}

.text-filter-list label {
  display: flex;
  padding: 0px 5px 2.5px 0px;
  max-width: 100%;
  align-items: center;
}

.text-filter-list label:hover {
  cursor: pointer;
  background-color: #eee;
}

@media (max-width: 768px) {

  .filter-middle {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;

  }

  .filter-left,
  .filter-right {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .result-preview {
    font-size: 1rem;
  }

  .filter-dropdown {
    flex: 1;
    position: relative;
    width: 100%;
  }

  .results-table th:first-child,
  .results-table td:first-child {
    display: none;
  }

  .results-table th:nth-child(2),
  .results-table td:nth-child(2) {
    width: 70%;
  }

  .results-table th:last-child,
  .results-table td:last-child {
    width: 30%;
    text-align: right;
  }
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 10px;
}

.modal-content button {
  margin-top: 10px;
  padding: 5px 10px;
}

.selected-text-item {
  display: flex;

}


.text-filter-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text-filter-list {
  position: relative;
}

.clear-selected-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.input-container {
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.input-container input[type=number] {
  height: 2rem;
  width: 25%;
  display: flex;
  margin: 10px;
  margin-bottom:0px;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;

}

.search-form-container {
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  overflow: hidden;
}

.open {
  max-height: 100%;
  opacity: 1;
}

.closed {
  max-height: 0;
  opacity: 0;
}

.toggle-form-button {
  display: block;
  width: 25%;

  margin: auto;
}

.filter-top {
  max-width: 1000px;
  margin:auto;
}

.download-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download-format-select {
  margin-top: 10px;
}

.download-button {
  padding: 10px 20px;
  margin-top: 20px;
}


.search-bar-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.toggle-form-button {
  height:40px;
  width:50px;
margin-left:10px;
}

.search-options {
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  max-height: 1000px;
  opacity: 1;
  overflow: hidden;
}

.search-options.closed {
  max-height: 0;
  opacity: 0;
}

.checkbox-container {
  min-width:10%;
  display: flex;
  flex-direction: column;
}

.checkbox-container label {
  display: block;
}
