body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-y: scroll;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  text-align: center;
}

button {
  background-color: #ccc;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-height: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

button:hover {
  background-color: #333;
  color: white;
}

a {
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div {
  box-sizing: border-box;
}

table {
  table-layout: fixed;
  border-spacing: 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

td {
  border-bottom: 1px solid #ccc;
}

table th {
  border-bottom: 1px solid #ccc;
  text-align: center !important;
  background-color: #666;
  color: white;
  font-weight: normal;
}

table th:first-child {
  border-radius: 10px 0 0 0px !important;
}

table th:last-child {
  border-radius: 0 10px 0px 0 !important;
}

.container {
  width: 100%
}

.main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px;
}

.text-content {
  max-width: 800px;
  margin: auto;
}

input[type=text] {
  border-radius: 5px;
  height: 40px;
  font-size: 1.25rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.m10 {
  margin: 10px;
}

.mtb {
  margin:20px 0px 20px 0px ;
}

.p10 {
  padding: 10px;
}

.highlight {
  color:red;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.gap10 {
  gap:10px;
}

.justify-20 {
  justify-content: center;
  align-items: center;
  gap:20%;
}

nav .text-button {
  text-decoration: none;
}
.text-button {
  background-color: transparent;
  font-size:.95rem;
  padding:0px;
  min-height:10px;
  text-decoration: underline;
}

.text-button:disabled {
  background-color: transparent;
  text-decoration: none;
  color:#999;

}


.text-button:disabled:hover {
  background-color: transparent !important;
  text-decoration: none;
  color:#999;
}

.text-button:hover {
  text-decoration: underline;
  background-color: transparent;
  color:black;
  cursor: pointer;
}

.filter-container {
  justify-content: center;
  max-width: 800px;
  gap: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.filter-container input[type="text"] {
  text-align: center;
  font-size:2rem;
}

.filter-container input[type="text"]::placeholder {
  font-size: 1rem;
  text-align: center;
}


.pagination {
  max-width: 100%;
  margin-top: 20px;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  margin: 2.5px;
}

.pagination button:disabled {
  background-color: transparent;
  font-weight: bold;
}

.pagination button:disabled:hover {
  cursor: default;
  color: black;
  background-color: transparent !important;
}

.pagination-left button,
.pagination-right button {
  width: 120px !important;
}

.pagination-left {
  flex: 20%;
  text-align: left;
}

.pagination-center {
  flex: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pagination-right {
  flex: 20%;
  text-align: right;
}

@media (max-width: 1200px) {
  .main {
    max-width: 1000px;
  }
}

@media (max-width: 992px) {
  .main {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .main {
    max-width: 100%;
    padding: 0px 20px;
  }
}

@media (max-width: 468px) {
  .filter-container {
    flex-direction: column;
    gap: 0px;
    align-items: center;
  }
  .search-button {
    margin-top:0px;
    width:calc(50% - 5px);
  }

  .pagination-left button,
  .pagination-right button {
    max-width: 75px !important;
  }

  .filter-dropdown {
    width: 100%;
    margin-bottom: 10px;
  }

}

.waiting-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.waiting-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.column {
  flex-direction: column ;
}

.reader {
  direction:rtl;
  max-width:1000px;
  margin: auto;
}

.reader h1 {
  text-align: center;
}

.page-content h1 {
  font-size:1.5rem !important;
  text-align: center;
}

.page-info {
  text-align: center;
}